/* {
    border: 1px solid red;
}*/
header {          /* Шапка страницы */
    background-color: #e0e0e0;
    height: 13vh;
    display: flex;
    justify-content: center;
}

section {            /* Основная часть */
    display: flex;
    height: 70vh;
}

.block_1{
    display: flex;
    flex-direction: column;
    background-color: #fff8e3;
    width: 70vw;
}

.part_1 {
   height: 33vh;
   text-align: center;
   display: flex;
    justify-content: space-around;
    align-items: center;
}

.part_1 h2 {
    display: flex;
    justify-content: center;
}

.part_2 {
    height: 33vh;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
}

.part_2_1 {
    width: 30vw;
    height: 18vh;
    background-color: #feeab9;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.part_3 {
    height: 30vh;
    text-align: center;
    width: 70vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.part_3 h2 {
    display: flex;
    justify-content: center;
}

.part_3 h2 {
    width: 65vw;
    height: 18vh;
    align-items: center;
    background-color: #feeab9;
}

.block_2 {
    display: flex;
    flex-direction: column;
    width: 30vw;
    background-color: #ddeccb;
    text-align: center;
}

footer {                            /* Футер страницы */
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 18vh;
    background-color: #e0e0e0;
}

footer div {
    background-color: #fafafa;
    height: 11vh;
    width: 20vw;
    text-align: center; 
}