* {
    margin: 0;
    padding: 0;
}

.header {
    height: 10vh;
}

.row {
    text-align: center;
}

.footer {
    display: flex;
    height: 15vh;
    color: white;
    align-items: center;
    justify-content: center;
}
.card {
    height: 100%;
}

.card-body {
    display: flex;
}
